* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(./img/chuttersnap-s_7BE4D2va0-unsplash.jpg);
}